h2.beverage_name {
  margin: 0;
}

div.pint_glass {
  -webkit-mask-image: url('/images/pint-mask-chalk-4k.png');
  -webkit-mask-size: 100% 100%;
  mask-image: url('/images/pint-mask-4k.png');
  mask-size: 100% 100%;
  width: 135px;
  height: 225px;
}

div.pint_glass .mask {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  background: url('/images/pint-stroke-4k.png');
  background-size: 100% 100%;
}

div.beverage_block {
  display: inline-block;
}
