h2.beverage_name {
  margin: 0;
}

div.pint_glass {
  background: url('/images/pint-mask-4k.png');
  width: 110px;
  height: 200px;
  filter: invert(100%) hue-rotate(5deg);
}

div.pint_glass .mask {
  position: relative;
  width: 110px;
  height: 200px;
  top: 0;
  background: url('/images/pint-stroke-4k.png');
}
