@font-face {
  font-family: 'CrayonCrumble';
  src: url('/fonts/dk-crayon-crumble.ttf');
}

body {
  background-image: url('/images/chalkboard.jpg');
  font-family: 'CrayonCrumble';
  font-size: x-large;
  color: whitesmoke;
  padding: 0;
}

div.board_body {
  padding-left: 15px;
}

ul.tap_list {
  list-style-type: none;
  padding: 0;
}

li.tap_list_item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  padding-top: 15px;
}

li.tap_list_item:last-child {
  border: none;
}

