@font-face {
  font-family: 'CrayonCrumble';
  src: url('/fonts/dk-crayon-crumble.ttf');
}

@font-face {
  font-family: 'SketchSerif';
  src: url('/fonts/sketch-serif.svg#SketchSerif') format("svg");
}

@font-face {
  font-family: 'KraftNine';
  src: url('/fonts/kraft-nine.ttf');
}


body {
  background-image: url('/images/chalkboard.png');
  background-size: 100%;
  font-family: 'SketchSerif', serif;
  font-weight:normal;
  font-size: 50px;
  color: whitesmoke;
  padding: 0;
}

div.board_body {
  padding-left: 15px;
}

ul.tap_list {
  list-style-type: none;
  padding: 0;
}

li.tap_list_item {
  background-image: url('/images/chalk-div.png');
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: bottom;
  background-size: 100%;
  padding-bottom: 25px;
  padding-top: 25px;
}

li.tap_list_item:last-child {
  background-image: none;
}

